//div#scroller-anchor
nav.navbar.sticky-top.navbar-toggleable.navbar-light.bg-faded(role='navigation')
  button.navbar-toggler.navbar-toggler-right(type="button",data-toggle="collapse",data-target="#navbarNav",aria-controls="navbarNav",aria-expanded="false",aria-label="Toggle navigation")
    span.navbar-toggler-icon
  include brand
  .navbar-collapse.collapse#navbarNav
    ul.navbar-nav
      include statistics
      if !landingPage
        include get-help
    ul.navbar-nav.ml-auto
      include save              
      include update    
      include erase    
      include edit
      if !landingPage
        include progress-bar      
      include login
