if activity                                
  button.btn.btn-primary.mx-1(type="button", id="save-work-button")
    span(style="display: none;", id="work-error")
      | <i class="fa fa-exclamation-triangle"></i> 
      span.hidden-md-down &nbsp;Failed
    span(style="display: none;", id="work-saved")
      | <i class="fa fa-save"></i> 
      span.hidden-md-down &nbsp;Saved!      
    span(style="display: none;", id="work-saving")
      | <i class="fa fa-refresh fa-spin"></i> 
      span.hidden-md-down &nbsp;Saving&hellip;    
    span(style="display: none;", id="work-reconnecting")
      | <i class="fa fa-refresh fa-spin"></i> 
      span.hidden-md-down &nbsp;Reconnecting&hellip;
    span(id="work-save")
      | <i class="fa fa-save"></i> 
      span.hidden-md-down &nbsp;Save      
