if activity                                
  button.btn.btn-primary.mx-1(type="button", id="save-work-button")
    span(style="display: none;", id="work-saved")
      | <i class="fa fa-save"></i> Saved!
    span(style="display: none;", id="work-saving")
      | <i class="fa fa-refresh fa-spin"></i> Saving&hellip;
    span(id="work-save")
      | <i class="fa fa-save"></i> Save
