if activity
  button.btn.mx-1.btn-info#instructor-view-statistics(type="button", data-activity-url=repositoryName + '/' + activity.path, data-activity-hash=activity.hash,style="display: none;")
    | <i class="fa fa-bar-chart"></i> 
    span.hidden-md-down &nbsp;Statistics
