if activity
  button.btn.mx-1.btn-info(type="button", id="instructor-view-statistics", data-activity-url=repositoryName + '/' + activity.path, data-activity-hash=activity.hash)
    | <i class="fa fa-bar-chart"></i> Statistics            
