lib-cov
private_key.pem
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

\#*#

pids
logs
results

*~

public/stylesheets/base.css

npm-debug.log
node_modules
components
bower_components

environment.sh

*.4ct
*.4tc
*.aux
*.auxlock
*.bbl
*.blg
*.brf
*.dpth
*.dvi
*.eps
*.gz
*.html
*.idv
*.idx
*.ilg
*.ind
*.jax
*.jpg
*.lg
*.log
*.md5
*.nb
*.oc
*.out
*.pdf
*.png
*.ps
*.sage-chat
*.svg
*.synctex.gz
*.tmp
*.toc
*.xref

