include includes/helpers

doctype html
html(lang="en",ng-app='ximeraApp')
  head
    meta(charset="utf-8")
    title
      if title
        | #{title} - Ximera
      else
        block title
        |  - Ximera
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description",content="Ximera provides the backend technology for online courses")
    meta(name="author", content="The Ximera Project")
    meta(name="keywords", content="mathematics, math, maths, courses, course, education, calculus, complex analysis, algebra, geometry, graphs, plots, MOOC")

    link(href="/public/stylesheets/base.css", rel="stylesheet", media="screen")
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,700,900,200',rel='stylesheet',type='text/css')

    script(type="text/javascript",src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
    script(type="text/x-mathjax-config")
      | MathJax.Hub.Config({showProcessingMessages: false, tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] } });

    script(data-main="/public/javascripts/app",src="/components/requirejs/require.js")

    link(rel="apple-touch-icon",sizes="114x114",href="/public/images/icons/favicon-114x114.png")
    link(rel="apple-touch-icon",sizes="72x72",href="/public/images/icons/favicon-72x72.png")
    link(rel="apple-touch-icon",sizes="57x57",href="/public/images/icons/favicon-57x57.png")
    link(rel="shortcut icon",type="image/x-icon",href="/favicon.ico")

  body
     #wrap
       include includes/header
       block content
     .footer
       include includes/footer

