doctype xml
imsx_POXEnvelopeRequest(xmlns="http://www.imsglobal.org/services/ltiv1p1/xsd/imsoms_v1p0")
  imsx_POXHeader
    imsx_POXRequestHeaderInfo
      imsx_version V1.0
      imsx_messageIdentifier 999999123
  imsx_POXBody
    replaceResultRequest
      resultRecord
        sourcedGUID
          sourcedId #{sourcedId}
        result
          resultTotalScore
            language en
            textString #{resultTotalScore}
          resultScore
            language en
            textString #{resultScore}
