extends layouts/main

block title
  | 404

block content
  .container
    .row.d-flex.align-items-center.justify-content-around
      div.mt-5
        h1(style="font-size: 100pt;") 404
        h1.text-muted I am so sorry.
      div.mt-5
        h3 The page you want could not be found.
        p I could not find the page <code>#{url}</code> but I will look into the cause of this error.
        if repositoryName
          p In the meantime, perhaps look at <a href="/#{repositoryName}"><code>#{repositoryName}</code></a> to find what you seek.