extends layouts/main

block title
  | 404

block content
  .container
    h1.text-center I am so sorry.
    h3.text-center That page does not exist.
    p.text-center I could not find the page <code>#{url}</code> but we will look into the cause of this error.
