extends layouts/main

block title
  | 500

block content
  .container
    .row.d-flex.align-items-center.justify-content-around
      div.mt-5
        h1(style="font-size: 100pt;") 500
        h1.text-muted I am so sorry.
      div.mt-5
        h3 An internal server error has occurred.
        p #{message}
