extends layouts/main

block content

    div.container.activity(data-activityId=activityId)
        button(ng-controller="ResetButtonCtrl", ng-click="resetPage()")
            | Reset Page        
        | !{activityHtml}