extends layouts/main

block content

    div.container.activity(data-activityId=activityId)
        button.pull-right.btn.btn-danger(type="button",ng-controller="ResetButtonCtrl", ng-click="resetPage()")
            | <i class="fa fa-eraser"></i> Erase Work
        | !{activityHtml}
