mixin byline(name,image,link,text)
  div.media
    a.pull-left(href="#{link}")
      img.media-object.img-rounded(src="#{image}")
    div.media-body
      h4.media-heading #{name}
      p
        != text

mixin biography(name)
  if name == 'Jim Fowler'
    mixin byline('Jim Fowler','https://secure.gravatar.com/avatar/6d975935526f533a2732e278ac54d97b.jpg?d=retro&s=64','http://kisonecat.com/','Working in the <a href="http://www.math.osu.edu/">math department at Ohio State</a>, Jim Fowler\'s research interests broadly include geometry and topology, and more specifically focus on the topology of high-dimensional manifolds and geometric group theory.  You can reach him at <a href="mailto:fowler@math.osu.edu">fowler@math.osu.edu</a>.')
  if name == 'Steve Gubkin'
    mixin byline('Steve Gubkin','https://secure.gravatar.com/avatar/6d975935526f533a2732e278ac54d97b.jpg?d=retro&s=64','http://www.math.osu.edu/~fowler/','As a graduate student in <a href="http://www.math.osu.edu/">the math department at Ohio State</a>, Steve Gubkin studies complex analysis.')
  if name == 'Bart Snapp'
    mixin byline('Bart Snapp','https://secure.gravatar.com/avatar/25de5398ed7277f31cfc3901e687b7fb.jpg?d=retro&s=64','https://people.math.osu.edu/snapp.14/','Bart Snapp teaches mathematics at OSU.  His research interests include commutative ring theory and recreational mathematics.  He enjoys exploring connections between mathematics and real-world problems, art, and music.')
