extends layouts/main

block content
  .callout
     .container
       .row
         .col-md-12
           h1 <span style="font-weight: 200;">The</span> <span style="font-weight: 700;">Ximera</span> <span style="font-weight: 200;">Project</span>
       .row
         .col-md-12
           h2 Open courses.  Free math.
       .row
         .col-md-9
           h2 Starting March 2013.
         .col-md-3
           h2
             a.btn.btn-primary.btn-lg(href="/course/") View Courses
  .container
    .row
      .col-md-4
        div.giant-badge
          <i class="fa fa-4x fa-book"></i>
          h3 For Educators
          p Ximera lets you write activities in LaTeX and post them for your students.
      .col-md-4
        div.giant-badge
          <i class="fa fa-4x fa-pencil"></i>
          h3 For Students
          p Ximera lets you do your homework online.
      .col-md-4
        div.giant-badge
          <i class="fa fa-4x fa-flask"></i>
          h3 For Researchers 
          p Ximera computes statistics on student success, such as point biserials.

    hr
    h3.text-center Convert LaTeX to Interactive Activities
    .row
      .col-md-5
        script(type="syntaxhighlighter",class="brush: latex")
            | \begin{document}
            |   \begin{question}
            |   \end{question}
            | \end{document}
      .col-md-2
        <i class="fa fa-4x fa-arrow-right"></i>        
      .col-md-5
        some web page goes here

    hr
    h3.text-center Sign up for the Ximera mailing list
    p If you are interested in finding out more about Ximera, or if you are interested in using Ximera in your own classroom, please <a href="/about/contact">contact us</a> at <a href="mailto:ximera@math.osu.edu">ximera@math.osu.edu</a>.

