mixin courseActivityLink(course,activity)
  if activity
    a(href=course.activityURL(activity))
      block
  else
    a(href="#")
      block


mixin courseLink(course)
  if course
    a(href="/course/#{course.slug}/")
      block
  else
    a(href="#")
      block
