div(ng-show="db.shown")
  p
    | Percent of users correctly answering eventually: {{db.answerAnalytics.percentUsersCorrect}}%
  p
    | Average number of responses before a correct answer: {{db.answerAnalytics.averageResponsesBeforeCorrect}}
  p
    | Percent of viewing users who attempt this part: {{db.answerAnalytics.percentAttempting}}%
  p
    | Total attempts: {{db.answerAnalytics.totalAttempts}}
  p
    | Total correct answers: {{db.answerAnalytics.totalCorrect}}
  p
    | Most common wrong answers:
    ul
      li(ng-repeat="answer in db.answerAnalytics.sortedWrongAnswers")
        | {{answer[1]}} attempts: {{answer[0]}}