div(ng-init="invisible=(course.activityAncestors(currentActivity).indexOf(activity) == -1) && (activity.slug != currentActivity.slug);")
  span
    span(ng-show="activity.children")
      i.fa.fa-minus-square(ng-click="invisible = !invisible;", ng-hide="invisible")
      i.fa.fa-plus-square(ng-click="invisible = !invisible;", ng-hide="!invisible")
    span &nbsp;{{activity.title}}
    span {{activity.description}}
    a(href="/course/{{course.slug}}/activity/{{course.normalizeSlug(activity.slug)}}/") VIEW
  ul(ng-hide="invisible")
    li(ng-repeat="activity in activity.children", ng-include="'/template/course-navigation-node'")
