form.form-inline(style='display: inline-block;')
  span.input-group
    input.form-control(type='text',ng-model='db.answer',ng-disabled='db.success')
    span.input-group-btn(ng-switch="",on='db.message')
      button.btn.btn-success.btn-ximera-correct(ng-click='attemptAnswer()',ng-switch-when="correct",data-toggle="tooltip",data-placement="top",title="Correct answer!", style='display: none')
        i.fa.fa-check
      button.btn.btn-danger.btn-ximera-incorrect(ng-click='attemptAnswer()',ng-switch-when="incorrect",data-toggle="tooltip",data-placement="top",title="Incorrect.  Try again!", style='display: none')
        i.fa.fa-times
      button.btn.btn-primary.btn-ximera-submit(ng-click='attemptAnswer()',ng-switch-default,data-toggle="tooltip",data-placement="top",title="Click to check your answer.")
        i.fa.fa-question
