div
  div.btn-group-vertical(data-toggle="buttons")
    label.btn.btn-default(ng-repeat='choice in db.choices',ng-click='activate(choice.value)',ng-class='{active: db.radioValue === choice.value}',ng-disabled='db.success && (db.radioValue != choice.value)')
      input(type='radio',ng-model='db.radioValue',name='{{db.radioGroup}}',value='{{choice.value}}')
      span(ng-bind-html="choiceLabelsByUuid[choice.uuid]")
  div.btn-group(ng-switch="",on='db.message',style="vertical-align: bottom; padding-left: 1em;")
    button.btn.btn-success(ng-click='attemptAnswer()',ng-switch-when="correct",data-toggle="tooltip",data-placement="top",title="Correct answer!")
      i.fa.fa-check
      | &nbsp;Correct
    button.btn.btn-danger(ng-click='attemptAnswer()',ng-switch-when="incorrect",data-toggle="tooltip",data-placement="top",title="Incorrect.  Try again!")
      i.fa.fa-times
      | &nbsp;Try again
    button.btn.btn-primary(ng-click='attemptAnswer()',ng-switch-default,data-toggle="tooltip",data-placement="top",title="Click to check your answer.",ng-disabled="{{!db.radioValue}}")
      i.fa.fa-question
      | &nbsp;Check work
