div
  textarea(ng-model="db.code")
  div.btn-toolbar(role="toolbar")
    div.btn-group(ng-switch="",on='db.running')
      button.btn.btn-default.run(ng-switch-default="",ng-click='runCode()',type="button") <i class="fa fa-play"></i> Run
      button.btn.btn-default.run(ng-switch-when="running",type="button") <i class="fa fa-stop"></i> Stop
    div.btn-group(ng-switch="",on='db.message')
      button.btn.btn-success(ng-click='attemptAnswer()',ng-switch-when="correct",data-toggle="tooltip",data-placement="top",title="Correct answer!")
        i.fa.fa-check
        | &nbsp;Correct
      button.btn.btn-danger(ng-click='attemptAnswer()',ng-switch-when="incorrect",data-toggle="tooltip",data-placement="top",title="Incorrect.  Try again!")
        i.fa.fa-times
        | &nbsp;Try again
      button.btn.btn-primary(ng-click='attemptAnswer()',ng-switch-default,data-toggle="tooltip",data-placement="top",title="Click to check your answer.")
        i.fa.fa-question
        | &nbsp;Check work
  pre
    | {{db.console}}
