@import 'theorems';

.activitytitle {
  font-size: 16pt;
  font-weight: bold;
}

.answer, .expression-answer {
  form.form-inline {
    width: 11em;
  }
}

/* Use LESS to copy bootstrap's dl-horizontal to our dialogue class */
dl.dialogue {
  .dl-horizontal;
}

/*
.btn-ximera-correct, .btn-ximera-incorrect, .btn-ximera-submit {
    width: 20px;
}
*/

.hint {
      color: gray;
      margin-left: 1em;
}

.btn-reveal-hint {
    float: right;
    clear: right;
    margin-bottom: 1em;
    
    /* Sometimes mathjax elements cover up the hint collapse button */
    z-index: 1;
    position: relative;
}

.btn-hint-collapse {
    float: right;
    clear: right;
    margin-bottom: 1em;
    
    /* Sometimes mathjax elements cover up the hint collapse button */
    z-index: 1;
    position: relative;
}

/****************************************************************
 Code for making spinning icons 
*/

.fa-spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

/****************************************************************/

.pulsate {
    -webkit-animation: pusate 1s infinite alternate;
    -moz-animation: pusate 1s infinite alternate;
    -animation: pusate 1s infinite alternate;
    text-shadow: 0 0 8px #ccc;
}
@-webkit-keyframes pusate {
    from { box-shadow: 0 0 10px #333; }
    to { box-shadow: 0 0 20px #c00; }
}
@-moz-keyframes pusate {
    from { box-shadow: 0 0 10px #333; }
    to { box-shadow: 0 0 20px #c00; }
}
@keyframes pusate {
    from { box-shadow: 0 0 10px #333; }
    to { box-shadow: 0 0 20px #c00; }
}

/****************************************************************/

.activity img {
    max-width: 100%;
}

/****************************************************************/
/* LaTeX logo */

span.LATEX {
  font-family: Times, "Times New Roman", serif;	
  letter-spacing: 1px;
}

span.LATEX .A {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

span.LATEX .TEX .E {
  text-transform: uppercase;
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
  font-size: 1em;
}

/****************************************************************/
/* More tex4ht css */

.center {
    text-align: center;
}

.preamble {
	  display: none;
}

/****************************************************************/
/* Course navigation */

.scrollbar {
    height: 2px;
    margin: 1em 0px 0px 0px;
    background: #DDD none repeat scroll 0% 0%;
    line-height: 0;
}

.scrollbar .handle {
    hHeight: 100%;
    background: black;
    cursor: pointer;
}

.frame ul.items {
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
    height: 100%;
    line-height: 100px;
}

.frame ul.items li {
    float: left;
    width: 150px;
    height: 100%;
    margin: 0px 1px 0px 0px;
    padding: 0px;
    background: #333 none repeat scroll 0% 0%;
    color: #DDD;
    text-align: center;
    cursor: pointer;
}

.frame {
    height: 100px;
    line-height: 100px;
}

.frame ul.items li.active
{
    background: #F00;
}

.btn-margin {
    margin-left: 4px;
}
