footer {
    margin-top: 5ex;
    padding-top: 5ex;
}

footer a {
    color: white;
}

footer ul {
    padding: 0;
}

footer ul a {
    display: block;
}

footer a:hover {
    color: #DDD;
}

footer p {
    margin-bottom: 0.25ex;
}

