$pulsate-list: btn-primary, btn-success, btn-info, btn-warning, btn-danger, btn-inverse, page-link;

$pulsate-colors: (
    btn-primary: $brand-primary,
    btn-success: $brand-success,
    btn-info: $brand-info,
    btn-warning: $brand-warning,
    btn-danger: $brand-danger,
    btn-inverse: $brand-inverse,
    page-link: $brand-primary
);

@each $pulsator in $pulsate-list {

  .#{$pulsator}.pulsate {
      animation: pulsate-#{$pulsator} 0.5s infinite alternate;
      animation-timing-function: linear;
      text-shadow: 0 0 8px #ccc;
  }

  @keyframes pulsate-#{$pulsator} {
      from { box-shadow: 0 0 10px #333; transform: rotate(-2deg); }
      to { box-shadow: 0 0 20px map-get($pulsate-colors,$pulsator); transform: rotate(2deg); }
  }
}

