$pulsate-list: primary, success, info, warning, danger, inverse;

$pulsate-colors: (
    primary: $brand-primary,
    success: $brand-success,
    info: $brand-info,
    warning: $brand-warning,
    danger: $brand-danger,
    inverse: $brand-inverse
);

@each $pulsator in $pulsate-list {

.btn-#{$pulsator}.pulsate {
    -webkit-animation: pulsate-#{$pulsator} 1s infinite alternate;
    -moz-animation: pulsate-#{$pulsator} 1s infinite alternate;
    -animation: pulsate-#{$pulsator} 1s infinite alternate;
    text-shadow: 0 0 8px #ccc;
}

@-webkit-keyframes pulsate-#{$pulsator} {
    from { box-shadow: 0 0 10px #333; }
    to { box-shadow: 0 0 20px map-get($pulsate-colors,$pulsator); }
}

@-moz-keyframes pulsate-#{$pulsator} {
    from { box-shadow: 0 0 10px #333; }
    to { box-shadow: 0 0 20px map-get($pulsate-colors,$pulsator); }
}

@keyframes pulsate-#{$pulsator} {
    from { box-shadow: 0 0 10px #333; }
    to { box-shadow: 0 0 20px map-get($pulsate-colors,$pulsator); }
}
}
