footer.navbar.navbar-inverse.navbar-static-bottom
    .container
      .row
        .col-sm-3
          h5
            a(href="/course/") Courses
          a(href="/course/mooculus/calculus1/") Calculus One
          a(href="/course/mooculus/calculus2/") Calculus Two
          //a(href="/course/kisonecat/m2o2c2/course/") M2O2C2: Multivariable Calculus 
        .col-sm-3
          h5
            a(href="/about") About
          a(href="/about/faq") FAQ
          a(href="/blog") Blog
          a(href="/about/team") Development Team
          a(href="/about/workshop") Workshop
        .col-sm-3
          h5 Social
          a(href='https://www.facebook.com/groups/337167309757871/')
            | Facebook 
            i.fa.fa-facebook
          a(href='https://twitter.com/XimeraProject')
            | Twitter 
            i.fa.fa-twitter
       
          a(href='https://plus.google.com/communities/115767215179468258008')
            | Google Plus 
            i.fa.fa-google-plus
          a(href='https://github.com/kisonecat/ximera')
            | GitHub 
            i.fa.fa-github-alt
          a(href='/about/contact') Contact Us 
            i.fa.fa-envelope
        .col-sm-3.address
          p
            :markdown
              Built in [Columbus, Ohio](https://en.wikipedia.org/wiki/Columbus,_Ohio) at [OSU](http://www.osu.edu/)
          p
            :markdown
              Built on [Node.js](http://nodejs.org/)
          p
            :markdown
              [Funded by](/about/support) [NSF Grant DUE-1245433](http://www.nsf.gov/awardsearch/showAward?AWD_ID=1245433), the [Shuttleworth Foundaton](/about/support), the [Department of Mathematics](http://math.osu.edu/), and the [Affordable Learning Exchange](https://affordablelearning.osu.edu/) at [Ohio State](https://osu.edu/).
      .row
        .col-sm-12.osu
          if (atColoradoState)
            img(src="/public/images/colorado-state/logo.png")
          else
            img(src="/public/images/osu/osu-web-footer-wordmark.png")
          p
            | &copy; 2013&ndash;#{new Date().getFullYear()}, The Ohio State University &mdash; 
            a(href="/about/team") Ximera team
          p
            | 100 Math Tower, 231 West 18th Avenue, Columbus OH, 43210&ndash;1174
          p
            | Phone: (773) 809&ndash;5659 | 
            a(href='/about/contact') Contact
          p
            | If you have trouble accessing this page and need to request an alternate format, contact <a href="mailto:ximera@math.osu.edu">ximera@math.osu.edu</a>.
