footer.navbar.navbar-inverse.navbar-static-top
  .navbar-inner
    .container
      .row
        .span3
          h5
            a(href="/courses") Courses
          a Calculus One
          a Calculus One
          a Calculus One
        .span3
          h5
            a(href="/about") About
          a(href="/about/faq") FAQ
          a(href="/blog") Blog
          a(href="/about/privacy") Privacy
          a(href="/about/legal") Legal
        .span3
          h5 Social
          a 
            | Twitter 
            i.icon-twitter
          a 
            | Facebook 
            i.icon-facebook
          a 
            | Google Plus 
            i.icon-google-plus
          a(href='https://github.com/coreystaten/gratisu-course-backend')
            | GitHub 
            i.icon-github
          a(href='/about/contact') Contact Us 
            i.icon-envelope
        .span3.address
          p
            :markdown
              Built in [Columbus, Ohio](https://en.wikipedia.org/wiki/Columbus,_Ohio)
          p
            :markdown
              Built on [Node.js](http://nodejs.org/)
          p.muted
            &copy; #{new Date().getFullYear()}, Gratis<strong class="gratisu">U</strong>, Inc.
