footer.navbar.navbar-inverse.navbar-static-bottom
    .container
      .row
        .col-sm-3
          h5
            a(href="/courses") Courses
          a(href="/courses/calculus-one") Calculus One
          a(href="/courses/calculus-two") Calculus Two
          a(href="/courses/multivariable") Multivariable Calculus 
        .col-sm-3
          h5
            a(href="/about") About
          a(href="/about/faq") FAQ
          a(href="/blog") Blog
          a(href="/about/team") Development Team
        .col-sm-3
          h5 Social
          a(href='https://www.facebook.com/groups/337167309757871/')
            | Facebook 
            i.icon-facebook
          a(href='https://plus.google.com/communities/115767215179468258008')
            | Google Plus 
            i.icon-google-plus
          a(href='https://github.com/kisonecat/ximera')
            | GitHub 
            i.icon-github
          a(href='/about/contact') Contact Us 
            i.icon-envelope
        .col-sm-3.address
          p
            :markdown
              Built in [Columbus, Ohio](https://en.wikipedia.org/wiki/Columbus,_Ohio) at [OSU](http://www.osu.edu/)
          p
            :markdown
              Built on [Node.js](http://nodejs.org/)
          p
            :markdown
              Funded by [NSF Grant DUE-1245433](http://www.nsf.gov/awardsearch/showAward?AWD_ID=1245433)
          p.muted
            &copy; 2013&ndash;#{new Date().getFullYear()}, <a href="/about/team">Ximera team</a>
