div#scroller-anchor
nav#scroller.navbar.navbar-default.navbar-fixed-top.affix-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/")
        | <span style="font-weight: 200;">XIMERA.</span><span style="font-weight: 700;">OSU</span><span style="font-weight: 200;">.EDU</span>
    .navbar-collapse.collapse
      ul.nav.navbar-nav
      ul.nav.navbar-nav.navbar-right(ng-controller="ScoreController")
         li
           a(ng-click="$emit( 'Xarma', 17 );") More Xarma!
         li
           a(ng-click="$emit( 'Xudos', 12 );") More Xudos!
         li.ng-cloak(ng-if="scores.xarma > 0")
           a(href="/about/xarma", highlight-on-change="{{scores.xarma}}")
             i.fa.fa-gift
             | &nbsp;{{scores.xarma}} Xarma
         li.ng-cloak(ng-if="scores.xudos > 0")
           a(href="/about/xudos", highlight-on-change="{{scores.xudos}}")
             i.fa.fa-thumbs-up 
             | &nbsp;{{scores.xudos}} Xudos
         if (user) && (!user.isGuest)
           li.dropdown
             a.dropdown-toggle(href="#",data-toggle="dropdown")
               | <i class="fa fa-user"></i> #{user.name} 
               b.caret
             ul.dropdown-menu
               li
                 a(href="/users/#{user._id}") <i class='fa fa-cogs'></i> Profile
               li
                 a(href="/logout") <i class='fa fa-sign-out'></i> Logout
         else
           li
             a(href="/auth/google") Sign In
