div#osu_navbar(role="navigation")
  h2#osu_navbar_heading.osu-semantic Ohio State nav bar
  a#skip.osu-semantic(href="#page-content") Skip to main content
  div.container
    div.univ_info
      p.univ_name
        a(href="http://osu.edu",title="The Ohio State University") The Ohio State University
    div.univ_links
      div.links
        ul
          li
            a(href="http://www.osu.edu/help.php",class="help") Help
          li
            a(href="http://buckeyelink.osu.edu/",class="buckeyelink") BuckeyeLink
          li
            a(href="http://www.osu.edu/map/",class="map") Map
          li
            a(href="http://www.osu.edu/findpeople.php",class="findpeople") Find People
          li
            a(href="https://email.osu.edu/",class="webmail") Webmail
          li
            a(href="http://www.osu.edu/search/",class="search") Search Ohio State


