extends ../layouts/main

block content
 .container
   mixin breadcrumbs(['/about','/about/contact'],['About Ximera','Contact Us'])
   .page-header
     h1 Contact Us
   include:md contact.markdown
   h3 Mailing address
   p If you need to mail something, please use the following mailing addresses:
   address
     strong Jim Fowler #63 and Bart Snapp #109
     br
     | 100 Math Tower
     br
     | 231 West 18th Avenue
     br
     | Columbus, OH 43201
