extends ../layouts/main

block content
  .container
    mixin breadcrumbs(['/about','/about/faq'],['About Ximera','FAQ'])
    .page-header
       h1 FAQ
         small  or Frequently Asked Questions
    p
      :markdown
        Below are a few questions you might have about Ximera or about the format of the courses hosted here.  If you don't find your question answered here, please [contact us](/about/contact).
    include:md faq.markdown
