extends ../layouts/main

block content
 .container
   mixin breadcrumbs(['/about','/about/who'],['About Ximera','Who is Ximera for?'])
   .page-header
     h1 Who is Ximera for?
   p There are many people who may benefit from using Ximera.
   h2#educators Ximera is for educators
   include:md for-educators.markdown
   hr
   h2#students Ximera is for students
   include:md for-students.markdown
   hr
   h2#researchers Ximera is for education researchers
   include:md for-education-researchers.markdown
   h2 Ximera is for&hellip; you!
   p If you are looking for a way to run your course both online and in-person, Ximera is for you.  If you are interested, please <a href="/about/contact">contact us</a>!
