extends ../layouts/main

block content
  .container
     mixin breadcrumbs(['/about','/about/m2o2c2'],['About Ximera', 'M2O2C2'])
     .page-header
       h1 M2O2C2
     p M2O2C2 is our short name for Massively Multivariable Open Online Calculus Course.
     p This course launches on March 14, 2014.