extends ../layouts/main

block content
  .container
     mixin breadcrumbs(['/about','/about/plans'],['About Ximera', 'Future Plans'])
     .page-header
       h1 Future Plans
     p We plan to build Calculus One and Calculus Two courses on Ximera for Fall 2014.
