extends ../layouts/main

block content
  .container
     mixin breadcrumbs(['/about','/about/plans'],['About Ximera', 'Future Plans'])
     .page-header
       h1 Future Plans
     p We plan to offer Calculus One, Calculus Two, and Multivariable Calculus when we go live in March 2014.

