extends ../layouts/main

block content
 .container
   mixin breadcrumbs(['/about','/about/workshop'],['About Ximera','Upcoming Workshop'])
   .page-header
     h1 Ximera Workshop 3
   .row
     div.col-sm-9
       include:md workshop.markdown

       h2 Apply for travel funding
       p Please go to <a href="http://go.osu.edu/xw3">http://go.osu.edu/xw3</a> to register and to apply for funding.
       
       h2 Questions
       p If you have questions about the upcoming workshop, please <a href="/about/contact">contact us</a> at <a href="mailto:ximera@math.osu.edu">ximera@math.osu.edu</a>.  You can also sign up for our mailing list below.

     div.col-sm-3
       div.well
         h4 Ximera Workshop 3
         dl
           dt Date
           dd July 24&ndash;28, 2016
           dt Place
           dd Columbus, Ohio
         p Apply by May 6, 2016 for funding.
   form.form-horizontal(role="form")
     div.form-group
       label.col-sm-2.col-sm-offset-2.control-label(for="mailingListEmail") Email:
       div.col-sm-5
         input.form-control(type="email" id="mailingListEmail" placeholder="Enter email")
     div.form-group
       div.col-sm-offset-4.col-sm-10
         button.btn.btn-default(type="submit",id="mailingListSubmit") Join the list
   div.col-sm-7.col-sm-offset-3.alert.alert-success(id="mailingListAlert",style="display: none;") <strong>Thank you.</strong> Your email has been added to the Ximera mailing list.
