extends ../layouts/main

block content
  .container
    mixin breadcrumbs(['/about','/about/xarma'],['About Ximera','Xarma'])
    .page-header
       h1 Xarma
         small  (pronounced karma)
    .row
      .col-sm-9
        p
          :markdown
            **Xarma** is Ximera's reward for community-focused activity.  If you help another student by reviewing their work, contribute to the content in [GitHub](https://github.com/kisonecat/ximera), or post in a course forum, you may earn Xarma.
        div(ng-controller="ScoreController")
          p.ng-cloak(ng-controller="ScoreController",ng-if="scores.xarma > 0")
            | You have earned {{scores.xarma}} Xarma by serving the Ximera community.
      .col-sm-3
        div.panel.panel-default
          include xarma-versus-xudos.jade

    div(forum='xarma')
