table.table.table-striped
  thead
    tr
      th
        a(href="/about/xarma/") Xarma
      th
        a(href="/about/xudos/") Xudos
  tbody
    tr
      td Activity
      td Achievement
    tr 
      td Community
      td Individual
    tr
      td Outward
      td Inward
    tr
      td For others
      td For yourself
    tr 
      td For reviewing
      td For being reviewed
