extends ../layouts/main
include ../biography.jade

block title
  = post.title

block content
  .container
    mixin breadcrumbs(['/blog',post.url],['Blog',post.title])

    .page-header
      h1
        = post.title
        small
          span.date  #{moment(post.date).format("D MMMM YYYY")}

    if false
      div.tags.pull-right
        - each tag in post.tags
          a(href=tagUrl(tag))
            span.label.label-info #{tag}
          | 

    div.blogpost.content
      != post.content

    if post.author
      .well
        mixin biography(post.author)
