div
  div(ng-if="!editing",ng-bind-html="htmlContent", mathjax-on-change="{{htmlContent}}")
  div(edit-post="",ng-if="editing",post-id="{{post._id}}", previous-content="{{post.content}}", edit-done="$parent.editing = false;")
  div.btn-toolbar(role="toolbar",ng-show="user.current")
    div.btn-group
      button.btn.btn-xs.btn-success(ng-click="upvote()", ng-if="post.upvoters.indexOf(user.current._id) == -1") <i class="fa fa-thumbs-o-up"></i>&nbsp;Upvote ({{post.upvotes}})
      button.btn.btn-xs.btn-success.active(ng-if="post.upvoters.indexOf(user.current._id) != -1") <i class="fa fa-thumbs-up"></i>&nbsp;Upvoted ({{post.upvotes}})
      button.btn.btn-xs.btn-danger(ng-confirm-click="Are you sure you want to report this post?",ng-click="flag()",ng-if="post.flaggers.indexOf(user.current._id) == -1") <i class="fa fa-flag-o"></i>&nbsp;Flag
      button.btn.btn-xs.btn-danger(ng-if="post.flaggers.indexOf(user.current._id) != -1") <i class="fa fa-flag"></i>&nbsp;Flagged
    div.btn-group
      button.btn.btn-primary.btn-xs(ng-click="replying = !replying", ng-class="{active:replying}", ng-hide="replying")  <i class="fa fa-reply"></i>&nbsp;Reply
    div.btn-group(ng-show="user.current._id == post.user._id")
      button.btn.btn-warning.btn-xs(ng-click="editing = !editing", ng-class="{active:editing}", ng-hide="editing")  <i class="fa fa-pencil"></i>&nbsp;Edit
    div.btn-group(ng-show="user.current._id == post.user._id")
      button.btn.btn-danger.btn-xs(ng-click="delete()", ng-confirm-click="Are you sure you want to delete this post?")  <i class="fa fa-eraser"></i>&nbsp;Delete
  div(reply="",ng-if="replying",parent="{{post._id}}", forum-name="{{forumName}}", reply-done="$parent.replying = false;")
