div
  div(ng-bind-html="htmlContent", mathjax-on-change="{{htmlContent}}")
  div.btn-toolbar(role="toolbar")
    div.btn-group
      button.btn.btn-xs.btn-success(ng-click="upvote()") <i class="fa fa-thumbs-o-up"></i>&nbsp;Upvote ({{post.upvotes.length}})
      button.btn.btn-xs.btn-danger(ng-confirm-click="Are you sure you want to report this post?",ng-click="flag()") <i class="fa fa-flag"></i>&nbsp;Flag
    div.btn-group
      button.btn.btn-xs(ng-click="replying = !replying", ng-class="{active:replying}", ng-hide="replying")  <i class="fa fa-reply"></i>&nbsp;Reply
  div(reply="",ng-if="replying",parent="{{post._id}}", forum-name="{{forumName}}", reply-done="$parent.replying = false;")
