form.compose
    div(pagedown="", ng-model="newPost.content")
    div.alert.alert-danger(ng-if="errorMessage")
      strong Error!&nbsp;
      | {{errorMessage}}
    div.btn-toolbar(role="toolbar")
      div.btn-group
        button.btn.btn-primary(ng-click="newPost.post()") <i class="fa fa-share"></i>&nbsp;Post
      div.btn-group
        button.btn.btn-danger(ng-confirm-click="Are you sure you want to cancel your post?", ng-click="cancel()") <i class="fa fa-times"></i>&nbsp;Cancel
      div.btn-group
        button.btn.btn-default(type="button", ng-click="anonymously=!anonymously")
          span(ng-if="!anonymously")
            | <img src="https://secure.gravatar.com/avatar/{{gravatar}}.jpg?d=retro&s=20"> Posting as {{user.current.name}}
          span(ng-if="anonymously")
            | <img src="https://secure.gravatar.com/avatar/?d=mm&s=20?f=y"> Posting anonymously
