div(ng-init="hideChildren = false")
  // BADBAD: For right now, I'll hide the button to hide the children
  button.btn.btn-xs(ng-click="hideChildren = !hideChildren", ng-class="{active:hideChildren}",ng-hide="true")  <i class="fa fa-reply"></i>&nbsp;Hide  
  ul.media-list(ng-show="!hideChildren")
    li.media(ng-repeat='post in posts', ng-class='{deepest:!post.replies}')
      //a.pull-left(href="/users/{{post.user._id}}/profile")
      img.media-object.pull-left(src="https://secure.gravatar.com/avatar/{{post.user.gravatar}}.jpg?d=retro&s=64", ng-if="post.user.gravatar != ''")
      img.media-object.pull-left(src="https://secure.gravatar.com/avatar/?d=mm&s=64", ng-if="post.user.gravatar == ''")
      div.media-body
        h5
          | {{post.user.name}}
          //a(href="/users/{{post.user._id}}/profile") {{post.user.name}}
          small(ng-dblclick="absoluteDate = !absoluteDate", title="{{(!absoluteDate) ? post.localeDate : post.dateRelativeToNow()}}") &nbsp;{{absoluteDate ?  post.localeDate : post.dateRelativeToNow()}}
        div(post="post", forum-name="{{forumName}}")
        div(ng-if="post.replies")
          div(thread="", posts="post.replies", parent="post._id", forum-name="{{forumName}}")
          div.btn-toolbar.media(role="toolbar")
            div.btn-group
              button.btn(ng-click="replying = !replying", ng-class="{active:replying}", ng-hide="replying", ng-show="user.current")  <i class="fa fa-reply"></i>&nbsp;Add Comment
          div(reply="",ng-if="replying",parent="{{post._id}}", forum-name="{{forumName}}", reply-done="$parent.replying = false;")
