extends ../layouts/main

block title
  | Courses

mixin course(course)
  a(href="/course/#{course.slug}/")
    h3 #{course.name}

block content
  .container
     mixin breadcrumbs(['/course/'],['Courses'])
     .page-header
       h1 Courses
       p We are still in the process of producing courses for Ximera; right now we have some demo content before we go live in March 2014.
     - for course in courses
       mixin course(course)
       hr
     p If there are courses that you would like to see, please <a href="/about/contact">contact us</a>.
