if previousActivity || nextActivity
  nav.my-4(aria-label="page navigation")
    ul.pagination.justify-content-start
      li.page-item#previous-activity(class=(previousActivity ? undefined : "disabled"))
        if previousActivity
          a.page-link(href="/" + repositoryName + "/" + activity.xourse.path + "/" + previousActivity,aria-label="previous activity")              
            | &larr; Previous Activity
        else
          span.page-link(aria-label="previous activity",href="#")              
            | &larr; Previous Activity 
      li.page-item.ml-auto#next-activity(class=(nextActivity ? undefined : "disabled"),completion-blink="",aria-label="next activity")
        if nextActivity
          a.page-link(href="/" + repositoryName + "/" + activity.xourse.path + "/" + nextActivity)
            | <span id="next-activity-label">Next Activity</span> &rarr;
        else
          span.page-link(aria-label="next activity")              
            | <span id="next-activity-label">Next Activity</span> &rarr;
